.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha conforme necessário */
}

.dynamic-div {
  flex: 2; /* Distribui o espaço disponível igualmente entre as divs */
  margin: 10px; /* Adapte a margem conforme necessário */
  margin-bottom: 30px;
  margin-top: 20px;
  z-index: 2;
  top:100%;
}
#diagnostico-texto {
  position: relative;
}
.hidden {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* CSS com overlay hexagonal azul mais claro e com largura maior */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px; /* Adiciona uma margem na parte inferior da seção */
  margin-bottom: 20px; /* Adiciona uma margem na parte inferior da seção */
  justify-content: center;
}
body {
  background-color: #000; /* Define a cor de fundo como preto (#000) */
  color: #fff; /* Define a cor do texto como branco (#fff) para melhor legibilidade */
  margin: 0.5cm;

}

/* Defina a largura máxima do campo de email */
input[type="email"] {
  width: 20%; /* Você pode ajustar a largura conforme necessário, como 100% para ocupar a largura total do contêiner */
}

.row {
  display: flex;
  max-width: 100%;
  margin: 0;
}

.row-two {
  display: flex;
  vertical-align: top;
  max-width: 100%;
  margin-left: 1.3cm;
  margin-top: -0.75cm;
}

.row-three {
  display: flex;
  max-width: 100%;
  margin-left: 2.6cm;
  margin-top: -0.75cm;
}

.image {
  width: 10%;
  margin: 0;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}
.image-space {
  position: relative;
  display: flex;
  width: 10%;
  margin: 0;
  margin-top: -0.21cm;
  margin-left: 1.6cm;
  
}
.image-space2 {
  position: relative;
  display: flex;
  width: 10%;
  height: 50%;
  margin: 0;
  margin-top: -0.21cm;
  margin-left: 0.26cm;
}
.image-space3 {
  position: relative;
  display: flex;
  width: 10%;
  height: 50%;
  margin: 0;
  margin-top: -0.21cm;
  margin-left: 3cm;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  width: 100px;
  height: 100px;
}

.selected {
  position: relative;
}

.selected::before {
  content: "\2713";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3498db; /* Cor de fundo azul mais claro */
  opacity: 0.7; /* Opacidade da sobreposição */
  font-size: 24px; /* Tamanho da fonte da marca de seleção */
  color: white; /* Cor do texto da marca de seleção */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: 1; /* Coloca a marca de seleção acima da imagem */
  pointer-events: none;
}


.paragraph {
  display: inline-block; /* Faz com que os parágrafos se comportem como blocos inline */
  width: 20%; /* Define a largura para que fiquem lado a lado e deixamos algum espaço para margens */
  margin-right: 5%; /* Adiciona margem direita para criar espaço entre eles */
  box-sizing: border-box; /*Espaçamento entre os parágrafos */
  text-align: center;
  margin-bottom: 20px; /* Adiciona uma margem na parte inferior da seção */
}

.container {
  margin-top: 10px;
  height: 20px;
}

.espacador {
  height: 40px; /* Define a altura do espaçador */
  margin-top: 40px;
  margin-bottom: 20px;

}
.espacadorForm {
  height: 40px; /* Define a altura do espaçador */
  margin-top: 40px;
}
.espacadorResult {
  margin-top: 80px;
  height: 80px; /* Define a altura do espaçador */
}

/* Estilos para o contêiner do botão */
.button-container {
  text-align: center; /* Centraliza o conteúdo dentro do contêiner */
  margin-top: 50px; /* Espaço superior para separação */
}
.image-text {
  position: absolute;
  bottom: 80%; /*80*/
  left: 0;
  width: 130%;/*130*/
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 1px;/*5*/
  opacity: 0; /* Inicialmente, o texto é invisível */
  transition: opacity 0.3s; /* Efeito de transição de opacidade */
  font-size: 10px;
  transform: translateY(30%); /* Centralizar verticalmente */

}

.image-overlay {
  pointer-events: none;
}

/* Exibir o texto quando o mouse passar por cima da imagem */
.image:hover .image-text {
  opacity: 1;
}


.modal {
  display: none;
  position: fixed;
  top: 20%;
  right: 20%;
  left: 20%;
  width: 50%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}


/* Estilos para mostrar o modal quando a classe "show" é adicionada */
.modal.show {
  display: block;
  background-color: #fff; /* Define a cor de fundo como preto (#000) */
  color: #000; /* Define a cor do texto como branco (#fff) para melhor legibilidade */
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  /* Adicione estilos adicionais conforme necessário */
}



#accept-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#accept-button:hover {
  background-color: #1e6cab;
}

@media (min-width: 768px) {
  .App-logo {
    height: 60vmin;
  }

  .highlight-button {
    margin-right: 30%;
  }

  .paragraph {
    width: 20%;
  }

  .image-container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .highlight-button {
    display: block;
    align-items: center;
    margin-left: 22%;
    padding: 15px 30px; /* Define o tamanho do botão */
    font-size: 18px; /* Define o tamanho da fonte */
    background-color: #3498db; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 10px; /* Adiciona cantos arredondados */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    transition: background-color 0.3s; /* Efeito de transição na cor de fundo */
  
    /* Estilização adicional ao passar o mouse (hover) */
    &:hover {
        background-color: #2c77b9; /* Cor de fundo quando o mouse passa por cima */
    }
  }
  .espacadorIniciante {
    margin-bottom: 10px;  
  }
  .espacadorBasico {
    margin-bottom: 30px; 
  }
  .espacadorIntermediario {
    margin-bottom: 40px; 
  }
  .espacadorAvancado {
    margin-bottom: 0px; 
  }
}

/*smartphone*/
@media (max-width: 767px) {
  .App-logo {
    height: 30vmin;
  }

  .highlight-button {
    margin-right: 5%;
  }

  .paragraph {
    width: 100%;
    margin-right: 0;
  }

  .image-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .highlight-button {
    display: block;
    margin-right: 10%;
    align-self: center;
    padding: 10px 20px; /* Define o tamanho do botão */
    font-size: 12px; /* Define o tamanho da fonte */
    background-color: #3498db; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 10px; /* Adiciona cantos arredondados */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    transition: background-color 0.3s; /* Efeito de transição na cor de fundo */
  
    /* Estilização adicional ao passar o mouse (hover) */
    &:hover {
        background-color: #2c77b9; /* Cor de fundo quando o mouse passa por cima */
    }
  }
  .image-text {
    position: absolute;
    bottom: 80%; /*80*/
    left: 0;
    width: 150%;/*130*/
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 1px;/*5*/
    opacity: 0; /* Inicialmente, o texto é invisível */
    transition: opacity 0.3s; /* Efeito de transição de opacidade */
    font-size: 5px;
    transform: translateY(30%); /* Centralizar verticalmente */
  
  }
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px; /* Adiciona uma margem na parte inferior da seção */
    justify-content: center;
  }
  body {
    background-color: #000; /* Define a cor de fundo como preto (#000) */
    color: #fff; /* Define a cor do texto como branco (#fff) para melhor legibilidade */
  
  }
  .espacadorIniciante {
    margin-bottom: 20px;  
  }
  .espacadorBasico {
    margin-bottom: 0px; 
  }
  .espacadorIntermediario {
    margin-bottom: 0px; 
  }
  .espacadorAvancado {
    margin-bottom: 0px; 
  }
    

}